<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orion_System</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/cores.css')}}">
    
</head>
<body style="margin: 0;padding:0;">
    
<div style="width:100%;height: 100vh; overflow: hidden;margin: 0; padding: 0">
    <img src="{{url_for('static',filename='images/topo.jpg') }}" 
    alt="banner"
    style="width:100%; height:100%; object-fit: cover; display: block">

    <h1 class="titulo-sistema">Orion System</h1>
</div>

    <div class="caixa-login">
        <label>Servidor</label>
        <input type="text" placeholder="Digite o servidor">

        <label>Senha</label>
        <input type="password" placeholder="Digite a senha">
        
<button onclick="window.location.href='{{ url_for('index.dashboard') }}'">
    OK
</button>
    </div>

</body>

<footer class= rodape><h3>Juniorkd62@gmail.com</h3></footer>
</html>