.titulo-sistema {
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%); 
    color: gold; 
    font-size: 8vw; 
    text-shadow: 
        2px 2px 4px rgba(0,0,0,0.7),
        0px 0px 10px rgba(255,255,255,0.4);
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0; 
    padding: 0; 
    text-align: center; 
    z-index: 10; 
}

.background-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.caixa-login {
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    width: 420px;          
    min-height: 300px;      
    padding: 35px 45px;

    background-color: rgba(10, 10, 30, 0.88);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    border: 2px solid rgba(255,255,255,0.15);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.caixa-login label {
    font-size: 1.3rem;   
    font-weight: 900;  
    color: #f5f5f5;
    text-shadow: 0 0 4px rgba(0,0,0,0.6);
}

.caixa-login input {
    padding: 14px;
    border-radius: 12px;
    border: 2px solid #333;
    background-color: #151525;
    color: #E0E0FF;
    font-size: 1.1rem;        
    transition: 0.3s;
}

.caixa-login input:focus {
    border-color: gold;
}

.caixa-login button {
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 12px;
    border: none;
    background-color: gold;
    color: #1a1a2e;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.caixa-login button:hover {
    background-color: #ffd900;
}

.rodape{
     position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    color: #cccccc;
    font-size: 0.6rem;
    font-weight: 600;
    text-shadow: 0 0 12px rgba(0,0,0,1);
    background: transparent;
}

.rodape h3{
    margin: 0;
    padding: 0;
}


